{% extends "layout.html" %}

{% block title %}
	<title>BibleShare Login</title>
{% endblock title %}

{% block content %}

	<h1> BibleShare Login</h1>


	<form action="{{url_for('checkLogin')}}" method="post">
		<p>Username:</p>
		<input name="username" type="text" />
		
		<p>Password:</p>
		<input name="password" type="password" />
		
		<input type="submit" value="Login" />
	</form>

	{% if error %}
		<p>{{ error }}</p>
	{% endif %}

	<br>
	
	<form action="{{url_for('signUp')}}">
		<input type="submit" , value="Sign up" />
	</form>


{% endblock content %}